.binding>div, .brand-third>* {
	background-repeat: no-repeat
}
.form-unit .anim-blue-all:hover .icon-upload:before, .form-unit .anim-blue:hover .icon-upload:before, .form-unit .anim-grey:hover .icon-upload:before {
	opacity: 1
}
.member p, .yourself .email {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}
.bind .phone-country .span-edit:focus, .form-unit .btn:focus, .signup .phone-country .span-edit:focus {
	outline: 0
}
.bind .phone-country .phone-number-wrap, .member p, .signup .phone-country .phone-number-wrap {
	overflow: hidden
}
.input-block-level {
	display: block;
	width: 100%;
	min-height: 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.brand-third {
	margin: 30px auto;
	text-align: center
}
.brand-third>* {
	display: inline-block;
	height: 40px;
	background-position: left center
}
.brand-third .tb-logo {
	width: 140px;
	background-image: url(../cssimg/logo.165c3ca6.svg);
	background-size: 138px
}
.brand-third .connect, .brand-third .disconnect {
	margin: 0 5px;
	width: 105px
}
.brand-third .connect {
	background-image: url(../cssimg/third-connect.80b5e101.png)
}
.brand-third .disconnect {
	background-image: url(../cssimg/third-disconnect.60f28438.png)
}
.brand-third .third-logo {
	width: 140px
}
.brand-third.xdf .third-logo {
	width: 82px;
	background-image: url(../cssimg/third-xdf.285e57aa.png)
}
.brand-third.github .third-logo {
	width: 114px;
	background-image: url(../cssimg/third-github.c3cd1125.png)
}
.brand-third.evernote .third-logo {
	width: 145px;
	background-image: url(../cssimg/third-evernote.d2a7cbfb.png)
}
.brand-third.dingding .third-logo {
	width: 145px;
	background-image: url(../cssimg/third-dingding.f6c15c55.png)
}
.brand-third.evernote_international .third-logo {
	width: 145px;
	background-image: url(../cssimg/third-evernote.d2a7cbfb.png)
}
.brand-third.weibo .third-logo {
	width: 98px;
	background-image: url(../cssimg/third-weibo.074f727d.png)
}
.brand-third.netease .third-logo {
	width: 33px;
	background-image: url(../cssimg/third-qiye163.38f94e69.png)
}
.brand-third.xiaomi .third-logo {
	width: 40px;
	background-image: url(../cssimg/third-xiaomi.363730f1.png)
}
.brand-third.google-auth .third-logo {
	width: 112px;
	background-image: url(../cssimg/third-google-auth.b099e236.png)
}
.brand-third.google .third-logo {
	width: 99px;
	background-image: url(../cssimg/third-google.28148123.png)
}
.brand-third.facebook .third-logo {
	width: 40px;
	background-image: url(../cssimg/third-facebook.4de0bd11.png)
}
.brand-third.wps .third-logo {
	width: 112px;
	background-image: url(../cssimg/third-wps.fddde867.png)
}
.brand-third.yunmart .third-logo {
	position: relative;
	width: 165px;
	height: 50px;
	top: 5px;
	background-image: url(../cssimg/third-yunmart.e4b2817c.png)
}
@media (max-width:410px) {
	.brand-third {
		margin: 20px auto
	}
	.brand-third>* {
		display: block;
		margin: 20px auto !important
	}
	.brand-third .tb-logo {
		margin-bottom: 25px !important
	}
	.brand-third .connect, .brand-third .disconnect {
		width: 52px;
		height: 20px;
		background-size: 52px 20px;
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg)
	}
}
.binding>div {
	float: left;
	height: 40px
}
.binding .cooperator.github {
	width: 92px;
	background-image: url(../cssimg/github@2x.20a05489.jpg);
	background-position: left center;
	background-size: 92px 36px
}
.binding .cooperator.mingdao {
	width: 60px;
	background-image: url(../cssimg/mingdao@2x.eb53f7f8.jpg);
	background-position: -4px bottom;
	background-size: 60px 36px
}
.binding .arrow {
	width: 27px;
	height: 38px;
	margin-left: 16px;
	background-image: url(../cssimg/arrow@2x.043a1645.png);
	background-position: left center;
	background-size: 27px 25px
}
.binding .teambition {
	width: 185px;
	margin-left: 20px;
	background-image: url(../cssimg/logo@2x.4ad3756f.jpg);
	background-position: left top;
	background-size: 185px 36px
}
.auth-form input[type=text], .auth-form input[type=tel], .auth-form input[type=email], .auth-form input[type=password] {
	height: auto;
	width: 100%;
	margin-bottom: 20px;
	padding: 12px;
	font-size: 16px;
	line-height: 20px;
	-webkit-appearance: none
}
.auth-form input[type=text]:focus, .auth-form input[type=tel]:focus, .auth-form input[type=email]:focus, .auth-form input[type=password]:focus {
	-webkit-appearance: none;
	border-color: #a6a6a6
}
.auth-form .link-blue {
	font-size: 16px
}
.auth-form .action-wrapper>a, .auth-form .action-wrapper>span {
	color: #aaa;
	font-size: 16px
}
.auth-form .action-wrapper .icon {
	margin-right: 5px
}
.form-unit {
	width: 100%;
	max-width: 320px;
	margin: 30px auto;
	padding: 0 10px
}
.form-unit [type=password] {
	display: inline
}
.form-unit>.error-block {
	width: 100%;
	text-align: center
}
.form-unit>h3 {
	text-align: center;
	color: #555;
	font-size: 18px;
	font-weight: 400;
	margin: 30px 0
}
.form-unit.info {
	width: 500px;
	margin-top: 100px;
	text-align: left
}
.authorize-unit .tac, .form-unit .send-sms, .form-unit .timer, .form-unit .tips h4, .production-list ul, .topbanner .desc, .topbanner .poswrap {
	text-align: center
}
.form-unit.info .info-content {
	float: left;
	width: 400px
}
.form-unit .info-content h1 {
	margin-top: 20px;
	font-size: 34px;
	color: #66819d;
	font-weight: 400
}
.form-unit .info-content h2 {
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: 400;
	font-family: Helvetica;
	color: #a7b5c4
}
.form-unit .btn {
	margin-bottom: 20px;
	padding: 12px;
	line-height: 20px;
	font-size: 16px;
	width: 100%;
	display: inline-block;
	outline: 0;
	border: none;
	border-radius: 3px
}
.form-unit .button-wrapper .btn {
	display: inline-block;
	width: 160px;
	margin-right: 10px;
	color: #66819d
}
.form-unit .button-wrapper .btn-primary {
	color: #fff;
	text-shadow: 0 1px #111
}
.form-unit .bind-validation, .form-unit .error-block, .form-unit .validation {
	position: relative;
	display: inline-block;
	padding: 5px 7px;
	margin-bottom: 20px;
	color: #d58a8a;
	border: 1px solid #d58a8a;
	border-radius: 3px;
	background-color: #fff4f4
}
.form-unit .bind-validation, .form-unit .validation, .form-unit .verification {
	display: none
}
.form-unit .anim-blue, .form-unit .anim-blue-all {
	border: 1px solid #03a9f4;
	-webkit-transition: padding-right 218ms ease;
	-o-transition: padding-right 218ms ease
}
.form-unit .action-wrapper a.pull-right {
	color: #428bca
}
.form-unit .bind-validation a, .form-unit .tips a, .form-unit .validation a {
	color: #03a9f4
}
.form-unit .bind-validation p, .form-unit .validation p {
	margin: auto;
	width: 100%
}
.form-unit .tips p {
	color: grey;
	padding-bottom: 10px
}
.form-unit .verification .verify {
	padding-right: 80px
}
.form-unit .send-sms {
	padding: 12px 0
}
.form-unit .timer {
	cursor: default;
	color: #ccc;
	position: absolute;
	top: 12px;
	right: 15px
}
.form-unit .timer.resend {
	cursor: pointer;
	color: #03a9f4
}
.form-unit .horizontal-line {
	width: 100%;
	height: 1px;
	background-color: #d9d9d9;
	margin-bottom: 30px;
	margin-top: 10px
}
.form-unit .anim-blue-all {
	position: relative;
	background-color: #03a9f4;
	color: #fff;
	transition: padding-right 218ms ease
}
.form-unit .anim-blue-all:hover {
	background: #03a9f4;
	padding-right: 34px;
	color: #fff
}
.form-unit .anim-blue {
	position: relative;
	background-color: #fff;
	color: #03a9f4;
	transition: padding-right 218ms ease
}
.form-unit .anim-blue:hover {
	background: #03a9f4;
	padding-right: 34px;
	color: #fff
}
.form-unit .anim-grey {
	position: relative;
	border: 1px solid #aaa;
	background-color: #fff;
	color: #aaa;
	-webkit-transition: padding-right 218ms ease;
	-o-transition: padding-right 218ms ease;
	transition: padding-right 218ms ease
}
.form-unit .anim-grey:hover {
	background: #aaa;
	padding-right: 34px;
	color: #fff
}
.form-unit .icon-upload {
	font-size: 26px;
	line-height: 26px;
	margin-left: 8px;
	position: absolute;
	top: 9px;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg)
}
.form-unit .icon-upload:before {
	opacity: 0;
	-webkit-transition: opacity 218ms ease;
	-o-transition: opacity 218ms ease;
	transition: opacity 218ms ease
}
.img-36, .img-48, .img-60 {
	display: inline-block;
	background-color: #eee
}
.member-list-container {
	margin-top: 30px
}
.member-list {
	list-style: none;
	padding-left: 0;
	margin-top: 20px;
	margin-bottom: 0
}
.member {
	position: relative;
	padding-left: 50px;
	margin-top: 26px
}
.member div {
	position: absolute;
	left: 0
}
.member h5 {
	margin-top: 0;
	margin-bottom: 4px
}
.member p {
	color: #a0a0a0
}
.img-36 {
	width: 36px;
	height: 36px;
	background-size: 36px 36px
}
.img-48 {
	width: 48px;
	height: 48px;
	background-size: 48px 48px
}
.img-60 {
	width: 60px;
	height: 60px;
	background-size: 60px 60px
}
.yourself {
	margin-bottom: 20px;
	background-color: #f5f6f7;
	width: 100%;
	padding: 20px 20px 20px 100px;
	border-radius: 4px
}
.yourself .avatar {
	left: 20px
}
.yourself .name {
	margin-top: 10px;
	margin-bottom: 5px
}
.yourself .email {
	width: 100%;
	max-width: 180px;
	margin-bottom: 6px
}
.use-loged-account {
	color: #838383;
	margin-top: 30px;
	margin-bottom: 28px
}
@media (max-width:580px) {
	body {
		width: 100%;
		overflow-x: hidden
	}
	body.is-typing {
		margin-bottom: 40%
	}
	.form-unit {
		margin: 20px auto;
		padding: 0 20px;
		box-shadow: none;
		background: 0 0
	}
	.form-unit input[type=text], .form-unit input[type=tel], .form-unit input[type=email], .form-unit input[type=password] {
		margin-bottom: 20px
	}
	.form-unit h2 {
		font-size: 16px
	}
	.form-unit .member {
		margin: 0 0 10px
	}
}
.topbanner {
	width: 100%;
	height: 190px;
	background: url(../cssimg/topbanner.3dd48b2a.png) center bottom no-repeat;
	background-size: cover;
	position: relative
}
.topbanner .poswrap {
	position: absolute;
	width: 100%;
	bottom: 25px
}
.topbanner .brand, .topbanner .brand-business {
	display: block;
	height: 46px;
	margin: 0 auto 20px;
	background-position: center bottom;
	background-repeat: no-repeat
}
.topbanner .brand h1, .topbanner .brand-business h1 {
	text-indent: -9999px;
	margin-top: 0
}
.topbanner .brand {
	width: 289px;
	background-image: url(../cssimg/logo-white.svg);
	background-size: 289px 46px
}
.topbanner .brand-business {
	width: 550px;
	background-image: url(../cssimg/logo-business.0e901079.png);
	background-size: 550px 46px
}
.topbanner .desc {
	color: #fff;
	font-size: 18px;
	-moz-text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
	-webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
	text-shadow: 0 1px 1px rgba(0, 0, 0, .5)
}
@media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
	.topbanner .brand {
		background-image: url(../cssimg/logo.svg)
	}
}
@media (max-width:580px) {
	.topbanner {
		height: 160px;
		background-image: url(../cssimg/topbanner_mobile.5fcc0c38.jpg)
	}
	.topbanner .poswrap {
		bottom: 10px
	}
	.topbanner .brand {
		margin-bottom: 10px;
		background-image: url(../cssimg/logo-white.svg);
		background-size: 60%
	}
	.topbanner .brand-business {
		width: 290px;
		background-size: 90%
	}
	.topbanner .desc {
		font-size: 14px
	}
}
@media (max-width:480px) {
	.topbanner .desc.en span {
		display: block
	}
}
.production-list {
	border-top: 1px solid #d9d9d9;
	padding: 30px 0;
	width: 100%
}
.production-list ul {
	list-style: none;
	padding-left: 0;
	width: 80%;
	margin: 0 auto
}
.production-list li {
	display: inline-block;
	position: relative;
	margin: 0 4%
}
.production-list li a {
	display: inline-block;
	text-decoration: none
}
.production-list li h4 {
	margin: 0 0 2px;
	color: #383838
}
.production-list li p {
	margin-bottom: 0;
	color: gray
}
.production-list li .icon {
	float: left;
	width: 40px;
	height: 40px;
	background-image: url(../cssimg/icons@2x.41070ce0.png);
	background-size: 120px 40px;
	margin: auto;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: box-shadow ease-in-out 218ms, -webkit-transform 218ms ease-in-out;
	transition: box-shadow ease-in-out 218ms, transform 218ms ease-in-out
}
.production-list li .text {
	padding-left: 50px;
	text-align: left
}
.production-list li a:hover .icon {
	-webkit-transform: translate3d(0, -3px, 0);
	transform: translate3d(0, -3px, 0)
}
.production-list .teambition-app {
	box-shadow: 0 0 3px #ccc;
	border-radius: 5px
}
.production-list .talk-app {
	background-position: -80px 0
}
@media (max-width:1050px) {
	.production-list li {
		max-width: 23%;
		margin: 0 10%
	}
	.production-list .text p {
		display: none
	}
	.production-list .text h4 {
		line-height: 40px
	}
}
.copyright {
	color: #B2B2B2;
	font-size: 14px;
	text-align: center;
	margin-bottom: 24px
}
.login .action-wrapper, .login .modal .modal-form .account-form .form-field {
	margin-bottom: 20px
}
.copyright a {
	color: #B2B2B2;
	-webkit-transition: all 218ms;
	-o-transition: all 218ms;
	transition: all 218ms
}
.copyright a:hover {
	color: #03a9f4
}
.copyright .copyright-line {
	padding: 0 8px
}
body, html {
	min-height: 100%
}
a>img {
	display: none
}
.content>h1 {
	height: 1px;
	text-indent: -9999px
}
@media (max-width:580px) {
	.production-list {
		display: none
	}
	body, html {
		width: 100%;
		overflow-x: hidden
	}
}

.login .modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}
.login .modal .overlay {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	z-index: 10000
}
.login .modal .modal-form {
	background: #fff;
	left: 50%;
	max-width: 380px;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	padding: 10px;
	position: absolute;
	width: 100%;
	z-index: 10001
}
.login .modal .modal-form .form-header {
	height: 32px;
	text-align: center
}
.login .modal .modal-form .form-header .close {
	cursor: pointer;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.6;
	opacity: .5
}
.login .modal .modal-form .form-header:after {
	background: #ccc;
	content: '';
	display: block;
	height: 1px;
	margin-top: 10px;
	width: 100%
}
.login .modal .modal-form .account-form {
	margin-top: 20px;
	padding: 0 16px 10px
}
.login .modal .modal-form .account-form .form-field input {
	height: auto
}
.login .modal .modal-form .account-form .btn-ok {
	width: 180px
}
@media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
	.login .third-accounts-login a {
		background: url(../cssimg/third-accounts@2x.130ce59d.png);
		background-size: cover
	}
}
.signup .switch-tab {
	width: 100%
}
.signup .switch-tab a {
	width: 50%;
	height: 30px;
	line-height: 30px;
	padding: 0;
	color: #d9d9d9;
	font-size: 14px;
	border: 1px solid #d9d9d9;
	-webkit-transition: all 218ms;
	-o-transition: all 218ms;
	transition: all 218ms
}
.signup .switch-tab a.by-email {
	float: left
}
.signup .switch-tab a.current, .signup .switch-tab a:hover {
	box-shadow: none;
	background: 0 0;
	color: #03a9f4;
	border-color: #03a9f4;
	z-index: 2333
}
.signup .form-field {
	position: relative
}
.signup .privacy-field {
	text-align: center;
	margin-top: -10px;
	padding-bottom: 15px;
	color: grey
}
.signup .privacy-field a {
	color: #03a9f4
}
.signup .verify-image-wrap {
	position: relative;
	padding: 12px;
	border: 1px solid #D9D9D9;
	border-radius: 3px;
	margin-bottom: 20px;
	font-size: 16px
}
.signup .verify-image-wrap .loading-indicator {
	margin: 22px auto
}
.signup .verify-image-wrap .captcha-title {
	margin-bottom: 10px
}
.signup .verify-image-wrap .captcha-tips {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	font-size: 20px;
	background: rgba(255, 255, 255, .85);
	line-height: 86px;
	text-align: center;
	color: grey
}
.signup .verify-image-wrap .captcha-tips .icon {
	color: #259b24;
	font-size: 24px;
	position: relative;
	top: 2px
}
.signup .verify-image-wrap .group-imgs .img-wrap {
	display: inline-block;
	width: 38px;
	height: 34px;
	padding: 2px 4px;
	text-align: center;
	cursor: pointer;
	border-radius: 3px;
	-webkit-transition: background 218ms;
	-o-transition: background 218ms;
	transition: background 218ms
}
.signup .verify-image-wrap .group-imgs .img-wrap img {
	width: 30px;
	height: 30px;
	opacity: .8;
	filter: alpha(opacity=80);
	-webkit-transition: opacity 218ms;
	-o-transition: opacity 218ms;
	transition: opacity 218ms
}
.signup .verify-image-wrap .group-imgs .img-wrap+.img-wrap {
	margin-left: 15px
}
.signup .verify-image-wrap .group-imgs .img-wrap:hover {
	background: #eee
}
.signup .verify-image-wrap .group-imgs .img-wrap:hover img {
	opacity: 1;
	filter: alpha(opacity=100)
}
.signup .verify-image-wrap .captcha-refresh {
	float: right;
	line-height: 20px;
	cursor: pointer;
	font-size: 20px;
	color: #03a9f4;
	-webkit-transition: color 218ms;
	-o-transition: color 218ms;
	transition: color 218ms;
	margin-right: -4px
}
.signup .verify-image-wrap .captcha-refresh:hover {
	color: #60ccfd
}
