		<div style="width:100%;height:5px;margin-top:0px;margin-bottom:20px;">
			<div class="red" style="width:20%;height:5px;background:#EB574C;float:left;"></div>
			<div class="yellow" style="width:20%;height:5px;background:#FBBC05;float:left;"></div>
			<div class="blue" style="width:20%;height:5px;background:#4285F4;float:left;"></div>
			<div class="green" style="width:20%;height:5px;background:#34A853;float:left;"></div>
			<div class="red" style="width:20%;height:5px;background:#EB574C;float:left;"></div>
		</div>